[submodule "sprint2"]
	path = sprint2
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
[submodule "sprint3"]
	path = sprint3
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
[submodule "Raices_de_Vida"]
	path = Raices_de_Vida
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
