[submodule "sprint2"]
	path = sprint2
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
[submodule "sprint3"]
	path = sprint3
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
[submodule "Raices_de_Vida"]
	path = Raices_de_Vida
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
[submodule "sprint 5/sprint 5/sprint 5"]
	path = sprint 5/sprint 5/sprint 5
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
[submodule "sprint7"]
	path = sprint7
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
	branch = main
[submodule "sprint 8"]
	path = sprint 8
	url = https://github.com/Raices-de-Vida/Raices_de_Vida.git
